body {
    display: grid;
    grid-template-areas: "head head head head"
    "gale gale gale side"
    "foot foot foot foot ";
}

.header{
    grid-area: head;
}

.main {
    grid-area: gale;
    height: 100%;
}

article img {
    max-width: 100%;
    border-radius: 10px;
    height: 100%;
}
.main .contiene-img {
    display: none;
}


.sidebar{
    grid-area: side;
    min-width: 20vw;
    display: none;
}

.foot {
    grid-area: foot;
}


@media screen and (min-width: 552px) {

    .main div {
        margin: 20px;
        display: grid;
        grid-template-areas: "f1 f2 f3";
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    div article {
        border-radius: 10px;
        box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
        max-width: 90%;
    }

    .card:hover {
        cursor: pointer;
        box-shadow: none;
        filter: grayscale(60%);
        transition: filter .4s;
        column-span: all;
    }
}


@media screen and (min-width: 1080px) {
    .sidebar{
        grid-area: side;
        min-width: 20vw;
        display: initial;
    }

    .main .contiene-img {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        top: -2%;
        left: -1.6%;
        transform: translateX(-150%);
        background-color: rgba(0, 0, 0, .7);
        transition: transform .2s ease-in;
    }

    .contiene-img.centrar {
        transform: translateX(0%);
        /* justify-content: center; */
        
    }
    
    .show {
        height: 70%;
        object-fit: cover;
    }

    .texto{
        position: fixed;
        display: block;
        color: #fa414a;
        bottom: 70px;
    }

    .fa-solid.fa-xmark {
        position: absolute;
        padding: 1px 10px ;
        color:#f6f1d4;
        border:2px #fa414a double;
        border-radius: 5px;
        box-shadow: 10px 10px 100px #fa414a;
        top: 20px;
        right: 50px;
        font-size: 50px;
        cursor: pointer;
    }
    

}